<div class="container">
  <table class="table table-bordered table-striped">

    <thead class="table text-center">
      <tr>
        <th>Name</th>
        <th>price</th>
        <th>Description</th>
        <th>Action</th>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let product of products">
        <td>{{product.name}}</td>
        <td class="text-center">{{product.price}} </td>
        <td>{{product.description}}</td>
        <td>
          <!-- if the product is available display display the button buy   -->
          <button class="btn btn-success" *ngIf="product.available">
            Buy
          </button>

          <button class="btn btn-primary" (click)="share()">
            Share
          </button>

          <app-product-alerts
            [product]="product">
          </app-product-alerts>


        </td>
      </tr>
    </tbody>

  </table>
</div>

